// Colors
$white: #ffffff;
$black: #000000;

// Sizes
$font-size: 16px;
$max-width: 1140px;

$breakpoints: (
        "phone" : 400px,
        "phone-wide" : 480px,
        "phablet" : 560px,
        "tablet-small": 640px,
        "tablet" : 768px,
        "tablet-wide" : 1024px,
        "desktop" : 1248px,
        "desktop-wide": 1440px
);